.lead__image {
  background-image: url("../../../images/lead-polka.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: calc(580 / 928 * 100%);
  width: 100%;
}


