.lead__image {
  display: flex;
  background-image: url("../../../images/lead-polka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: calc(580/ 928 * 100%);
  width: 100%;
  justify-content: center;

}

.lead__image:after{

}
