.cover__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 122%;
  margin: 16px 0 0 0;
  max-width: 360px;
  text-align: center;
}

@media screen and (max-width: 320px ) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
