.card__title {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 0 0 0;
}

@media screen and (max-width: 890px) {
  .card__title {
    font-size: 42px;
    line-height: 46px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    font-size: 32px;
    line-height: 35px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
