.intro__title {
  color: #FFFFFF;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
  margin: 16px auto 40px auto;
  /* identical to box height, or 107% */
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-right: 60px;
  }
}
