.card {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, min-content);
  justify-content: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 768px){
  .card{
    gap: 32px;
  }
}


