.card {
  display: grid;
  gap: 48px 40px;
  /*grid-template-columns: repeat(auto-fill, minmax(320px, 460px));*/
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, min-content);

  justify-content: center;
}

@media screen {
}
