.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
}

.header__lang-link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

