.footer {
  display: flex;
  justify-content: space-between;
  /*padding-top: 7vw;*/
  padding-top: calc(98/1280 * 100%);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

