.card__link {
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 122%;
  margin: 0 0 0 0;
  text-decoration-line: underline;
}

.card__link:hover {
  opacity: 0.8;
}


