.cover {
  align-items: center;
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.cover:hover {
  opacity: 0.8;
}

