.card__link {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  /* identical to box height, or 122% */
  line-height: 22px;
  text-decoration-line: underline;
}

.card__link:hover{
  opacity: 0.8;
}


