.page {
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  /*padding: 28px 48px 24px 48px;*/
  padding: calc(28 / 1280 * 100%) calc(48 / 1280 * 100%) calc(24 / 1280 * 100%) calc(48 / 1280 * 100%);

}

/** {*/
/*  outline: 1px solid red;*/
/*}*/
