.footer__copyright {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    padding: 16px 0 16px 0;
  }
}
