.lead__subtitle {
  max-width: 640px;
  color: #FFFFFF;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  /* or 120% */
  line-height: 36px;
  text-align: center;
  justify-self: center;
  margin-bottom: 64px;
}
