.header__lang-link {
  color: #FFFFFF;
  /*width: 29px;*/
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  gap: 18px;
  height: 28px;
  /* identical to box height, or 117% */
  line-height: 28px;
  text-align: right;
}
