.cover__title {
  color: #FFFFFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  /* or 106% */
  max-width: 560px;
  padding-top: calc((((740 - 218) / 1184) / 2) * 100%);
  /*padding-bottom: calc((740 - 218) / 1184 * 100%);*/
  text-align: center;
}

@media screen and (max-width:768px ){
  .cover__title{
    font-size: 32px;
    line-height: 35px;
  }
}


