.card__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  line-height: 12px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}
