.cover_item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cover_item:hover {
  background: #2A2C2F;
  opacity: 0.8;
}
